.header-user {
  width: 100%;
  height: 80px;
  margin: -100px 0px 0px;
  z-index: 100;
  align-items: center;
  position: fixed;
  background: #123c4b;
  display: flex;
  text-align: center;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.icon-back {
  width: 150px;
  transition: all 3s ease-in-out;
}

.icon-back:hover {
  transform: translateX(-10px);
}

.header-logo {
  width: clamp(1.5rem, 2.5vw, 3rem);
}

.header-user-title {
  font-size: clamp(1.15rem, 2.5vw, 2rem);
  color: #fff;
  flex-grow: 1;
  padding-right: 150px;
}

div#global-loader {
  margin-top: -100px;
}
